@import "tailwindcss";

@theme {
  --font-nunito: "Roboto", serif;
  --font-lora: "Lora", serif;
  --color-yellow: #FACA10;

  --color-black: #1E1E1E;
  --color-dark_grey:#F2F2F2;
  --color-dark-grey:#FBFBFB;
  --color-white: #FFFFFF;
  --color-light: #fafcfcc9;
}



.container {
  max-width: 1177px;
  margin: 0 auto;
}


@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  ul,
  li,
  ol {
    @apply list-none
  }

  img {
    @apply align-middle
  }

  a {
    @apply inline-block no-underline;
  }
}

@layer components {
  .menu {
    position: relative;
  }

  .menu::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: rgb(250, 202, 16);
    height: 2px;
    transition: all linear .2s;

  }

  .menu:hover::after {

    width: 100%;
  }


}

@layer components{
.btn{
  position: relative;
}
.btn::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color:#130b0b82;
  top:0;
  left:100%;
  visibility: hidden;
  transition: all linear .2s;
} 
.btn:hover::after{
 left: 0;
 visibility: visible;  
 
} 
}

@layer components{

.textUnderline{
  position: relative;
}
.textUnderline::before{
  position: absolute;
  content: " ";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-yellow);
  transition: all linear .2s;
}
.textUnderline:hover::before{
  width: 0%;
}

}

@layer components {
 
 .bgBanner{ 
   position: relative;
   z-index: 1;
 } 
 .bgBanner::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%; 
  background-color: #fafcfca7;
  z-index: -1;
 } 
}

/* ========== arrow icon research =========== */
@layer component{

  .nextArrow{
      font-size:25px;
      color:black;
      width: 30px;
      height:27px;
      font-weight: 600;
      background-color:#fdefb7;
      border-bottom-right-radius: 50%;
      border-top-right-radius: 50%;
      top: 12%;
      left:6.8%;
      position:absolute;
      cursor: pointer;
      border:1px solid white;

  }
  .nextArrow:hover{
      background-color: #FACA10;
  }

  .prevArrow{
      font-size: 25px;
      color:black;
      font-weight: 600;
      width: 30px;
      height:27px;
      background-color:#fdefb7;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      top:12%;
      position:absolute;
      left:1%;
      cursor: pointer;
      z-index:1;
      border: 1px solid white;
      
  }

  .prevArrow:hover{
      background-color:#FACA10;
  }

 
  .bottomCircle{
      position:absolute;
      width:200px;
      height:200px;
      background-color:#fdefb7;
      border-radius:50%;
      left:-20%;
      bottom:-20%;
    
  }


} 

/* ========== arrow icon research =========== */ 

/* =====Get in touch====================================== */
@layer component{

.ImageCard{
  position: relative;
} 

.touchCard{
  position: absolute;
  top:50%;
  left: 12%;
  z-index: 1;
}

}

/* =====Get in touch====================================== */

